In [1]:
import pandas as pd
from sklearn import datasets

In [2]:
iris = datasets.load_iris()

In [11]:
df = pd.DataFrame(data=iris.data,columns=iris.feature_names)

In [12]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
df.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [6]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [13]:
df['label'] = iris.target

In [14]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [15]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [16]:
X = df.drop(columns=['label'])
y = df['label']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [20]:
from sklearn.linear_model import Perceptron

In [21]:
pnn = Perceptron()

In [22]:
pnn.fit(X_train,y_train)

C:\Users\yasudatoshiki\Anaconda3\envs\AI\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in Perceptron in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
      fit_intercept=True, max_iter=None, n_iter=None, n_iter_no_change=5,
      n_jobs=None, penalty=None, random_state=0, shuffle=True, tol=None,
      validation_fraction=0.1, verbose=0, warm_start=False)

In [23]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 137 to 47
Data columns (total 4 columns):
sepal length (cm)    120 non-null float64
sepal width (cm)     120 non-null float64
petal length (cm)    120 non-null float64
petal width (cm)     120 non-null float64
dtypes: float64(4)
memory usage: 4.7 KB

In [24]:
X_train.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
137                6.4               3.1                5.5               1.8
84                 5.4               3.0                4.5               1.5
27                 5.2               3.5                1.5               0.2
127                6.1               3.0                4.9               1.8
132                6.4               2.8                5.6               2.2

In [27]:
y_train

137    2
84     1
27     0
127    2
132    2
59     1
18     0
83     1
61     1
92     1
112    2
2      0
141    2
43     0
10     0
60     1
116    2
144    2
119    2
108    2
69     1
135    2
56     1
80     1
123    2
133    2
106    2
146    2
50     1
147    2
      ..
14     0
122    2
19     0
29     0
130    2
49     0
136    2
99     1
82     1
79     1
115    2
145    2
72     1
77     1
25     0
81     1
140    2
142    2
39     0
58     1
88     1
70     1
87     1
36     0
21     0
9      0
103    2
67     1
117    2
47     0
Name: label, Length: 120, dtype: int32

In [30]:
pred = pnn.predict(X_test)

In [29]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 114 to 26
Data columns (total 4 columns):
sepal length (cm)    30 non-null float64
sepal width (cm)     30 non-null float64
petal length (cm)    30 non-null float64
petal width (cm)     30 non-null float64
dtypes: float64(4)
memory usage: 1.2 KB

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(y_test,pred)

0.9

In [33]:
from sklearn.linear_model import LogisticRegression

In [34]:
lr = LogisticRegression()

In [35]:
lr.fit(X_train,y_train)

C:\Users\yasudatoshiki\Anaconda3\envs\AI\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\yasudatoshiki\Anaconda3\envs\AI\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [36]:
pred = lr.predict(X_test)

In [37]:
pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 2,
       0, 0, 2, 0, 0, 1, 1, 0])

In [38]:
lr.predict(X_test)

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 2,
       0, 0, 2, 0, 0, 1, 1, 0])

In [39]:
accuracy_score(y_test,pred)

0.9666666666666667

In [40]:
from sklearn.svm import SVC

In [41]:
svm = SVC()

In [42]:
svm.fit(X_train,y_train)

C:\Users\yasudatoshiki\Anaconda3\envs\AI\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [43]:
pred = svm.predict(X_test)

In [44]:
accuracy_score(y_test,pred)

1.0

In [45]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
tr = RandomForestClassifier()

In [47]:
tr.fit(X_train,y_train)

C:\Users\yasudatoshiki\Anaconda3\envs\AI\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [48]:
pred = tr.predict(X_test)

In [49]:
accuracy_score(y_test,pred)

1.0

In [50]:
1+1

2

In [51]:
2*3

6

In [52]:
6+1

7

In [53]:
2*3+1

7

In [54]:
x = 2*3

In [55]:
x

6

In [56]:
x+2

8

In [58]:
pred =tr.predict(X_test)

In [59]:
pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0])

In [60]:
accuracy_score(y_test,tr.predict(X_test))

1.0

In [63]:
print('Hllo wold')

Hllo wold

In [64]:
train_test_split(X_train,y_train)

[     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 115                6.4               3.2                5.3               2.3
 140                6.7               3.1                5.6               2.4
 105                7.6               3.0                6.6               2.1
 69                 5.6               2.5                3.9               1.1
 145                6.7               3.0                5.2               2.3
 113                5.7               2.5                5.0               2.0
 98                 5.1               2.5                3.0               1.1
 15                 5.7               4.4                1.5               0.4
 79                 5.7               2.6                3.5               1.0
 5                  5.4               3.9                1.7               0.4
 91                 6.1               3.0                4.6               1.4
 50                 7.0               3.2                4.7               1.4
 111                6.4               2.7                5.3               1.9
 138                6.0               3.0                4.8               1.8
 49                 5.0               3.3                1.4               0.2
 148                6.2               3.4                5.4               2.3
 146                6.3               2.5                5.0               1.9
 89                 5.5               2.5                4.0               1.3
 132                6.4               2.8                5.6               2.2
 65                 6.7               3.1                4.4               1.4
 72                 6.3               2.5                4.9               1.5
 9                  4.9               3.1                1.5               0.1
 136                6.3               3.4                5.6               2.4
 3                  4.6               3.1                1.5               0.2
 149                5.9               3.0                5.1               1.8
 18                 5.7               3.8                1.7               0.3
 30                 4.8               3.1                1.6               0.2
 59                 5.2               2.7                3.9               1.4
 42                 4.4               3.2                1.3               0.2
 106                4.9               2.5                4.5               1.7
 ..                 ...               ...                ...               ...
 70                 5.9               3.2                4.8               1.8
 120                6.9               3.2                5.7               2.3
 11                 4.8               3.4                1.6               0.2
 48                 5.3               3.7                1.5               0.2
 80                 5.5               2.4                3.8               1.1
 0                  5.1               3.5                1.4               0.2
 85                 6.0               3.4                4.5               1.6
 83                 6.0               2.7                5.1               1.6
 119                6.0               2.2                5.0               1.5
 57                 4.9               2.4                3.3               1.0
 4                  5.0               3.6                1.4               0.2
 81                 5.5               2.4                3.7               1.0
 21                 5.1               3.7                1.5               0.4
 104                6.5               3.0                5.8               2.2
 124                6.7               3.3                5.7               2.1
 17                 5.1               3.5                1.4               0.3
 43                 5.0               3.5                1.6               0.6
 19                 5.1               3.8                1.5               0.3
 112                6.8               3.0                5.5               2.1
 47                 4.6               3.2                1.4               0.2
 39                 5.1               3.4                1.5               0.2
 127                6.1               3.0                4.9               1.8
 52                 6.9               3.1                4.9               1.5
 99                 5.7               2.8                4.1               1.3
 61                 5.9               3.0                4.2               1.5
 82                 5.8               2.7                3.9               1.2
 20                 5.4               3.4                1.7               0.2
 25                 5.0               3.0                1.6               0.2
 68                 6.2               2.2                4.5               1.5
 41                 4.5               2.3                1.3               0.3

 [90 rows x 4 columns],
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 102                7.1               3.0                5.9               2.1
 116                6.5               3.0                5.5               1.8
 12                 4.8               3.0                1.4               0.1
 141                6.9               3.1                5.1               2.3
 144                6.7               3.3                5.7               2.5
 55                 5.7               2.8                4.5               1.3
 38                 4.4               3.0                1.3               0.2
 122                7.7               2.8                6.7               2.0
 131                7.9               3.8                6.4               2.0
 36                 5.5               3.5                1.3               0.2
 1                  4.9               3.0                1.4               0.2
 53                 5.5               2.3                4.0               1.3
 92                 5.8               2.6                4.0               1.2
 109                7.2               3.6                6.1               2.5
 110                6.5               3.2                5.1               2.0
 125                7.2               3.2                6.0               1.8
 96                 5.7               2.9                4.2               1.3
 142                5.8               2.7                5.1               1.9
 143                6.8               3.2                5.9               2.3
 88                 5.6               3.0                4.1               1.3
 129                7.2               3.0                5.8               1.6
 32                 5.2               4.1                1.5               0.1
 31                 5.4               3.4                1.5               0.4
 118                7.7               2.6                6.9               2.3
 74                 6.4               2.9                4.3               1.3
 14                 5.8               4.0                1.2               0.2
 108                6.7               2.5                5.8               1.8
 75                 6.6               3.0                4.4               1.4
 95                 5.7               3.0                4.2               1.2
 101                5.8               2.7                5.1               1.9,
 115    2
 140    2
 105    2
 69     1
 145    2
 113    2
 98     1
 15     0
 79     1
 5      0
 91     1
 50     1
 111    2
 138    2
 49     0
 148    2
 146    2
 89     1
 132    2
 65     1
 72     1
 9      0
 136    2
 3      0
 149    2
 18     0
 30     0
 59     1
 42     0
 106    2
       ..
 70     1
 120    2
 11     0
 48     0
 80     1
 0      0
 85     1
 83     1
 119    2
 57     1
 4      0
 81     1
 21     0
 104    2
 124    2
 17     0
 43     0
 19     0
 112    2
 47     0
 39     0
 127    2
 52     1
 99     1
 61     1
 82     1
 20     0
 25     0
 68     1
 41     0
 Name: label, Length: 90, dtype: int32,
 102    2
 116    2
 12     0
 141    2
 144    2
 55     1
 38     0
 122    2
 131    2
 36     0
 1      0
 53     1
 92     1
 109    2
 110    2
 125    2
 96     1
 142    2
 143    2
 88     1
 129    2
 32     0
 31     0
 118    2
 74     1
 14     0
 108    2
 75     1
 95     1
 101    2
 Name: label, dtype: int32]